click==6.7
Flask==0.12.2
itsdangerous==0.24
MarkupSafe==0.23
pdfkit==0.6.1
Werkzeug==0.11.15
gunicorn==0.17.2
Jinja2==2.9.6
boto3==1.4.7
requests
psycopg2==2.7.3.2
wkhtmltopdf-pack-ng==0.12.3.0
subprocess
